<ion-view>
    <ion-content>
        <div class="padding" style="text-align: center;">
            <center>
                <h4>Simulação e Contratação</h4>
                <br />
                Parabéns!<br />
                O seu contrato recebeu o número <br />
                <h2>{{numeroContrato}}</h2><br />
                O mesmo encontra-se em deferimento e o crédito será liberado assim que o contrato for processado pela Regius.<br />
                <br />
                <button class="button button-block btn-orange" ng-click="inicio()">
                    Voltar para o Início
                </button>
            </center>
        </div>
    </ion-content>
</ion-view>