<ion-view title="Entenda sua Contribuição">
    <ion-content scroll="true" padding="true" class="has-header has-footer">
        <form class="list">
            <ion-list>
                <div ng-app ng-controller="entendaSuaContribuicaoCtrl">
                    <div ng-repeat="data in list">
                        <div class="form-item-ct">
                            <label>{{data.label_title}}</label>
                            <input type="text" placeholder="" value="{{data.value}}" disabled>
                        </div>
                    </div>
                </div>
            </ion-list>
        </form>
        <br/><br/><br/>
    </ion-content>
</ion-view>