@font-face {
  font-family: mont;
  src: url(../fonts/MONTSERRAT-REGULAR.OTF);
}

@font-face {
  font-family: montlight;
  src: url(../fonts/MONTSERRAT-ULTRALIGHT.OTF);
}

@font-face {
  font-family: opensans;
  src: url(../fonts/OPENSANS-REGULAR.TTF);
}

body {
  font-family: opensans;
}

ion-content {
  background-color: #fcfcfc;
}

.top-text {
  color: #fff;
  text-align: center;
}

.top-text span {
  font-family: montlight;
  font-style: italic;
}

.top-text-big {
  font-family: montlight;
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: light;
}

.bottom-text {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.login-form {
  text-align: center;
  margin-top: 10px;
}

.login-form label {
  color: #fff;
  font-weight: bold;
}

.form-item {
  padding-bottom: 20px;
}

.input {
  width: 100%;
  opacity: 0.5;
  text-align: center;
  line-height: 50px;
  height: 50px;
  margin-top: 5px;
}
.login-select {
  padding: 25px 0;
  opacity: 0.5;
}

.login-select .input-label {
  display: none;
}

.login-select select {
  max-width: 100%;
  color: black;
}

.bottom-group {
  margin-left: 90px;
  font-size: 10px;
  text-align: center;
}

.btn-item {
  float: left;
  margin-right: 20px;
}

.bottom-question {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
  text-indent: -6px;
}

.bottom-question-in {
  color: #3a3a3a;
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
  font-size: 11px;
  margin-left: 20px;
  text-align: right;
}

.contact-button {
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #b5b768;
}

.bar-stable,
.header-item {
  background-color: #a3a543 !important;
  color: #fff !important;
}

.bar-custom {
  background-color: #a3a543;
  padding-top: 80px;
}

.header-data {
  margin-top: -70px;
  margin-left: 40px;
}

.username {
  font-weight: bold;
}

.selected-plan-subtitle {
  font-style: italic;
}

.previous-title,
.default-title {
  display: none !important;
}

.back-button {
  background-color: transparent !important;
}

.welcome-text {
  text-align: center;
  font-size: 20px;
  color: #949494;
}

.welcome-text-bottom {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
  color: #575757;
}

.menu-subtitle {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-weight: lighter;
  margin-top: -20px;
}

.home-item {
  text-decoration: none;
  text-align: center;
  float: left;
  width: 200px;
  height: 200px;
}

.home-btn-icon {
  background-color: #f39b14;
  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  width: 8em;
  height: 8em;
}

.plan-title {
  margin-top: -50px;
  color: #656565;
}

.plan-subtitle {
  color: #bababa;
  font-style: italic;
  font-size: 10px;
}

.btn-contact {
  background-color: #f39b14;
  color: #fff;
  border: none;
  padding: 15px;
  width: 100%;
  margin-top: 30px;
}

.form-item-ct label {
  color: #656565;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
.form-item-ct input,
.form-item-ct textarea,
.form-item-ct label.item-select {
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}
.form-item-ct label.rg-select {
  padding: 25px 0;
}
.form-item-ct label.rg-select select {
  padding-left: 30px;
  max-width: 100%;
  width: 100%;
  text-align-last: center;
}

/* Buttons */

.btn-white {
  background-color: #fff;
  color: #a3a543;
  font-weight: bold;
  border: none;
}

.btn-green {
  background-color: #a3a543;
  color: #fff;
  font-weight: bold;
  border: none;
}

.btn-orange {
  background-color: #f39c12;
  color: #fff;
  font-weight: bold;
}

.btn-small {
  font-size: 10px;
  padding: 0 20px 0 20px;
}

.btn-green:hover,
.btn-orange:hover,
.btn-small:hover {
  color: #fff;
}

.padding {
  padding: 40px;
}

.no-padding {
  padding: 0 !important;
}

.logo {
  float: right;
  padding: 3px;
  margin-top: -42px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 10px;
}

input {
  text-align: center;
}

ion-view.home-view a[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.api-loading {
  text-align: center;
  padding: 0 10px;
}
.api-loading p {
  margin: 10px;
}

/* hotfix for scrolling */
body .overflow-scroll .scroll {
  height: 110%;
}

.about {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.tos {
  padding: 20px;
  text-align: justify;
}

.contracheque-card {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.contracheque-card .data {
  font-size: 16pt;
}

.contracheque-card .col {
  font-weight: normal;
  font-size: 10pt;
}

.contracheque-card .col.bruto {
  color: #2ecc71;
}

.contracheque-card .col.descontos {
  color: #c63a3a;
}

.contracheque-card .col.liquido {
  color: #3990e4;
}

.contracheque-card .col span {
  color: #444;
  font-weight: bold;
}

.smallTitle {
  font-size: 10pt;
  line-height: 1pt;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
  background: #ccc;
}
